<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} ^(.*)/img/(.*)$ [OR]
    RewriteCond %{REQUEST_URI} ^(.*)/css/(.*)$ [OR]
    RewriteCond %{REQUEST_URI} ^(.*)/js/(.*)$
    RewriteRule ^.*$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>