<IfModule mod_rewrite.c>
    RewriteEngine  on
    RewriteCond %{REQUEST_URI} !\.php$ [NC]
    RewriteCond %{REQUEST_URI} !\.json$ [NC]
    RewriteCond %{REQUEST_URI} [^/]$
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>